.featuredProductsAllDataContainer {
  width: 75%;
  margin: 0 auto;
  max-width: 1550px;
}

.featuredProductsAllProductCardContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  margin-top: 30px;
}
