.sliderContainer {
  position: relative;
  background-color: #f2efea;
  width: 100%;
  height: 69vh;
}

.heroSliderDataContainer {
  width: 75%;
  margin: 130px auto;
  display: flex;
  align-items: center;
}

.sliderTitle {
  font-size: 55px;
  font-weight: 600;
  line-height: 68px;
  color: #333;
  text-transform: capitalize;
}

.sliderDataImage {
  width: 100%;
  height: 100%;
}
