.topProductsLayerAllDataContainer {
  position: relative;
  width: 100vw;
  background: url(../../../assets/Image/hero//background.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.topProductsLayerDataInfoContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
  gap: 165px;
  max-width: 1550px;
}

.topProductsLayerImage {
  width: 420px;
  height: 100%;
}

.topProductsCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  margin-top: 35px;
}
